In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys
import requests
import json

In [9]:
def fetch_cpu_metrics(service, host, start, end, api_token):
    url = f"{host}/api/ds/query"
    expr = "sum(rate(container_cpu_usage_seconds_total{container=\""+service+"\"}[10m])) by (name) *100"
    body = {
        "queries": [
            {
                "editorMode": "code",
                "expr": expr,
                "legendFormat": "__auto",
                "range": True,
                "instant": False,
                "exemplar": False,
                "utcOffsetSec": 19800,
                "interval": "",
                "datasourceId": 1,
                "intervalMs": 10000,
                "maxDataPoints": 1791
            }
        ],
        "from": start,
        "to": end
    }
    response = requests.post(url, headers={"Content-Type": "application/json", "Authorization": f"Bearer {api_token}"}, data=json.dumps(body))
    json_response = json.loads(response.text)

    data = json_response["results"]["A"]["frames"][0]["data"]["values"]
    return data

def fetch_memory_metrics(service, host, start, end, api_token):
    url = f"{host}/api/ds/query"
    expr = "sum(rate(container_memory_usage_bytes{container=\""+service+"\"}[10m])) by (name) *100"
    body = {
        "queries": [
            {
                "editorMode": "code",
                "expr": expr,
                "legendFormat": "__auto",
                "range": True,
                "instant": False,
                "exemplar": False,
                "utcOffsetSec": 19800,
                "interval": "",
                "datasourceId": 1,
                "intervalMs": 10000,
                "maxDataPoints": 1791
            }
        ],
        "from": start,
        "to": end
    }
    response = requests.post(url, headers={"Content-Type": "application/json", "Authorization": f"Bearer {api_token}"}, data=json.dumps(body))
    json_response = json.loads(response.text)

    data = json_response["results"]["A"]["frames"][0]["data"]["values"]
    return data

In [10]:
service = "auth"
host = "http://192.168.49.2:30468"
users = 1000
spawn_rate = 10
start = "1680497280000"
end = "1680498340000"
api_key = "eyJrIjoiY1dXeE4yNHlEb2pKYjVmN00yamRKdkJVakRTS2VZWXUiLCJuIjoic3BvdGt1YmUxIiwiaWQiOjF9"

In [11]:
cpu_data = fetch_cpu_metrics(service, host, start, end, api_key)
dic_cpu = {'timestamp': np.array(cpu_data[0]), 'cpu_usage': np.array(cpu_data[1])}
df_cpu = pd.DataFrame(dic_cpu)
df_cpu

         timestamp  cpu_usage
0    1680497280000   7.259744
1    1680497290000   9.309759
2    1680497300000  12.543784
3    1680497310000  12.763753
4    1680497320000  12.983723
..             ...        ...
102  1680498300000   0.033693
103  1680498310000   0.033432
104  1680498320000   0.033165
105  1680498330000   0.033165
106  1680498340000   0.033165

[107 rows x 2 columns]

In [12]:
mem_data = fetch_memory_metrics(service, host, start, end, api_key)
dic_mem = {'timestamp': np.array(mem_data[0]), 'memory_usage': np.array(mem_data[1])}
df_mem = pd.DataFrame(dic_mem)
df_mem

         timestamp     cpu_usage
0    1680497280000  4.352389e+07
1    1680497290000  4.131216e+07
2    1680497300000  4.455428e+07
3    1680497310000  4.455428e+07
4    1680497320000  4.455428e+07
..             ...           ...
102  1680498300000  1.637704e+07
103  1680498310000  2.200552e+07
104  1680498320000  2.716029e+07
105  1680498330000  2.716029e+07
106  1680498340000  2.716029e+07

[107 rows x 2 columns]

In [15]:
df_mem.head(50)

        timestamp     cpu_usage
0   1680497280000  4.352389e+07
1   1680497290000  4.131216e+07
2   1680497300000  4.455428e+07
3   1680497310000  4.455428e+07
4   1680497320000  4.455428e+07
5   1680497330000  4.455428e+07
6   1680497340000  4.455428e+07
7   1680497350000  4.130576e+07
8   1680497360000  4.399440e+07
9   1680497370000  4.399440e+07
10  1680497380000  4.399440e+07
11  1680497390000  4.399440e+07
12  1680497400000  4.399440e+07
13  1680497410000  5.086257e+07
14  1680497420000  5.086257e+07
15  1680497430000  5.086257e+07
16  1680497440000  5.086257e+07
17  1680497450000  5.086257e+07
18  1680497460000  5.086257e+07
19  1680497470000  4.803235e+07
20  1680497480000  5.242266e+07
21  1680497490000  5.242266e+07
22  1680497500000  5.242266e+07
23  1680497510000  5.242266e+07
24  1680497520000  4.974936e+07
25  1680497530000  4.627339e+07
26  1680497540000  4.808502e+07
27  1680497550000  4.808502e+07
28  1680497560000  4.808502e+07
29  1680497570000  4.808502e+07
30  1680497580000  4.808502e+07
31  1680497590000  3.892933e+07
32  1680497600000  3.892933e+07
33  1680497610000  3.892933e+07
34  1680497620000  3.892933e+07
35  1680497630000  3.892933e+07
36  1680497640000  3.892933e+07
37  1680497650000  2.942963e+07
38  1680497660000  2.942963e+07
39  1680497670000  2.942963e+07
40  1680497680000  2.942963e+07
41  1680497690000  2.942963e+07
42  1680497700000  3.030876e+07
43  1680497710000  3.080902e+07
44  1680497720000  2.905114e+07
45  1680497730000  2.905114e+07
46  1680497740000  2.905114e+07
47  1680497750000  2.905114e+07
48  1680497760000  2.905114e+07
49  1680497770000  2.693751e+07

In [16]:
df_cpu.head(50)

        timestamp  cpu_usage
0   1680497280000   7.259744
1   1680497290000   9.309759
2   1680497300000  12.543784
3   1680497310000  12.763753
4   1680497320000  12.983723
5   1680497330000  13.198176
6   1680497340000  13.198176
7   1680497350000  14.717043
8   1680497360000  18.719502
9   1680497370000  19.050164
10  1680497380000  19.380825
11  1680497390000  19.711487
12  1680497400000  19.839696
13  1680497410000  22.693121
14  1680497420000  23.099503
15  1680497430000  23.505884
16  1680497440000  23.912266
17  1680497450000  24.290826
18  1680497460000  24.382904
19  1680497470000  24.017391
20  1680497480000  22.853633
21  1680497490000  23.258032
22  1680497500000  23.662430
23  1680497510000  24.009185
24  1680497520000  24.627360
25  1680497530000  22.381948
26  1680497540000  22.949610
27  1680497550000  23.355119
28  1680497560000  23.760629
29  1680497570000  24.166139
30  1680497580000  24.330576
31  1680497590000  22.495475
32  1680497600000  22.900842
33  1680497610000  23.306209
34  1680497620000  23.711576
35  1680497630000  24.116943
36  1680497640000  24.322030
37  1680497650000  22.562374
38  1680497660000  22.963114
39  1680497670000  23.363855
40  1680497680000  23.764596
41  1680497690000  24.044444
42  1680497700000  24.490597
43  1680497710000  24.026950
44  1680497720000  22.846751
45  1680497730000  23.248219
46  1680497740000  23.649688
47  1680497750000  24.017665
48  1680497760000  24.088103
49  1680497770000  19.632095

In [13]:
# set the Date column as the index
# df.set_index('Date', inplace=True)

# create the time series plot
plt.plot(df_cpu['timestamp'], df_cpu['cpu_value'])
plt.xlabel('Date')
plt.ylabel('CPU')
plt.title('CPU Usage')

KeyError: 'cpu_value'